<section id="advantage" class="">
  <div class="relative hidden md:block">
    <div class="absolute -top-48">
      <img src="/svg/41.svg" alt="" srcset="" />
    </div>
    <div class="absolute -top-32 right-0">
      <img src="/svg/Titik-titik.svg" alt="" />
    </div>
  </div>
  <div
    class="js-show-on-scroll px-sm-screen md:px-md-screen relative overflow-hidden overflow-x-scroll"
  >
    <div class="flex flex-col">
      <div class="md:mb-[67px] mb-8">
        <h1 class="text-center">The Briix Advantage</h1>
        <p class="font-medium text-center">
          We have revolutionised fractional ownership investing
        </p>
      </div>
      <div class="hidden md:block">
        <table class="z-20 w-full">
          <tr class="">
            <th
              class="text-start py-4 px-8 text-[28px] font-semibold mb-10 text-primary"
            >
              Briix Fractional Ownership (Briick)
            </th>
            <th class="py-4 px-2"></th>
            <th
              class="py-4 px-8 text-end text-[28px] font-semibold mb-10 text-primary"
            >
              Traditonal Fractional Ownership
            </th>
          </tr>
          <tr class="">
            <td class="w-[35%]">
              <div class="text-white rounded-2xl p-4 bg-primary px-10">
                <ul class="font-medium">
                  <li class="h-24 flex items-center gap-4">
                    <img src="/svg/CheckCircle.svg" alt="" />
                    Regulated
                  </li>
                  <li class="h-24 flex items-center gap-4">
                    <img src="/svg/CheckCircle.svg" alt="" />
                    Investment prospectus containing analysis from independent
                    experts as well as governement, legal, tax and financial
                    advice
                  </li>
                  <li class="h-24 flex items-center gap-4">
                    <img src="/svg/CheckCircle.svg" alt="" />
                    Comprehensive and secured long-term management plan
                  </li>
                  <li class="h-24 flex items-center gap-4">
                    <img src="/svg/CheckCircle.svg" alt="" />
                    Tradeable on the Briix investment platform - a wholly owned
                    and licensed financial exchange
                  </li>
                  <li class="h-24 flex items-center gap-4">
                    <img src="/svg/CheckCircle.svg" alt="" />
                    Financing and loan solutions offered via the Briix
                    investment platform
                  </li>
                </ul>
              </div>
            </td>

            <td class="text-center font-semibold text-2xl">
              <ul>
                <li class="h-24 flex items-center">
                  <div class="flex items-center w-full justify-between">
                    <div class="w-20 flex items-center -ml-[2px]">
                      <div class="w-20 h-px bg-primary flex justify-end"></div>
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-center text-primary">Product</p>
                    </div>
                    <div class="w-20 flex items-center -mr-[2px]">
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                      <div
                        class="w-20 h-px bg-primary flex justify-start"
                      ></div>
                    </div>
                  </div>
                </li>
                <li class="h-24 flex items-center">
                  <div class="flex items-center w-full justify-between">
                    <div class="w-20 flex items-center -ml-[2px]">
                      <div class="w-20 h-px bg-primary flex justify-end"></div>
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-center text-primary">Feasibility</p>
                    </div>
                    <div class="w-20 flex items-center -mr-[2px]">
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                      <div
                        class="w-20 h-px bg-primary flex justify-start"
                      ></div>
                    </div>
                  </div>
                </li>
                <li class="h-24 flex items-center">
                  <div class="flex items-center w-full justify-between">
                    <div class="w-20 flex items-center -ml-[2px]">
                      <div class="w-20 h-px bg-primary flex justify-end"></div>
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-center text-primary">Management</p>
                    </div>
                    <div class="w-20 flex items-center -mr-[2px]">
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                      <div
                        class="w-20 h-px bg-primary flex justify-start"
                      ></div>
                    </div>
                  </div>
                </li>
                <li class="h-24 flex items-center">
                  <div class="flex items-center w-full justify-between">
                    <div class="w-20 flex items-center -ml-[2px]">
                      <div class="w-20 h-px bg-primary flex justify-end"></div>
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-center text-primary">Platform</p>
                    </div>
                    <div class="w-20 flex items-center -mr-[2px]">
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                      <div
                        class="w-20 h-px bg-primary flex justify-start"
                      ></div>
                    </div>
                  </div>
                </li>
                <li class="h-24 flex items-center">
                  <div class="flex items-center w-full justify-between">
                    <div class="w-20 flex items-center -ml-[2px]">
                      <div class="w-20 h-px bg-primary flex justify-end"></div>
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                    </div>
                    <div class="flex justify-center">
                      <p class="text-center text-primary">Finance</p>
                    </div>
                    <div class="w-20 flex items-center -mr-[2px]">
                      <div
                        class="w-3 aspect-square rounded-full bg-primary"
                      ></div>
                      <div
                        class="w-20 h-px bg-primary flex justify-start"
                      ></div>
                    </div>
                  </div>
                </li>
              </ul>
            </td>
            <td class="text-end w-[35%]">
              <div class="border border-primary rounded-2xl p-4 px-10">
                <ul class="font-medium">
                  <li class="h-24 flex items-center justify-end">
                    Unregulated
                  </li>
                  <li class="h-24 flex items-center justify-end">
                    Often lacking 3rd party feasibility studies
                  </li>
                  <li class="h-24 flex items-center justify-end">
                    Often lacking critical long-term property management plan
                  </li>
                  <li class="h-24 flex items-center justify-end">
                    Often lacking the ability to trade the products on a
                    financial exchange
                  </li>
                  <li class="h-24 flex items-center justify-end">
                    Often lacking financing solutions
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="md:hidden flex flex-col">
        <div class="flex flex-row">
          <div class="basis-1/3 flex flex-col">
            <div class="h-16"></div>
            <ul>
              <li class="h-20 flex items-center">
                <div class="flex justify-center">
                  <p class="text-center text-primary text-sm font-semibold">
                    Product
                  </p>
                </div>
              </li>
              <li class="h-20 flex items-center">
                <div class="flex justify-center">
                  <p class="text-center text-primary text-sm font-semibold">
                    Feasibility
                  </p>
                </div>
              </li>
              <li class="h-20 flex items-center">
                <div class="flex justify-center">
                  <p class="text-center text-primary text-sm font-semibold">
                    Management
                  </p>
                </div>
              </li>
              <li class="h-20 flex items-center">
                <div class="flex justify-center">
                  <p class="text-center text-primary text-sm font-semibold">
                    Platform
                  </p>
                </div>
              </li>
              <li class="h-20 flex items-center">
                <div class="flex justify-center">
                  <p class="text-center text-primary text-sm font-semibold">
                    Finance
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="basis-2/3 flex space-x-2 relative overflow-x-scroll"
            id="scrollContent"
          >
            <div class="" id="scrollContent1">
              <div class="h-16 w-56">
                <p class="text-base text-primary font-semibold">
                  Briix Fractional Ownership (Briick)
                </p>
              </div>
              <div class="w-52 bg-primary rounded-xl px-4">
                <ul class="text-white">
                  <li class="h-20 flex items-center gap-2 text-xs">
                    <img src="/svg/CheckCircle.svg" alt="" class="w-4" />
                    Regulated
                  </li>
                  <li class="h-20 flex items-center gap-2 text-xs">
                    <img src="/svg/CheckCircle.svg" alt="" class="w-4" />
                    Investment prospectus containing analysis from independent
                    experts as well as governement, legal, tax and financial
                    advice
                  </li>
                  <li class="h-20 flex items-center gap-2 text-xs">
                    <img src="/svg/CheckCircle.svg" alt="" class="w-4" />
                    Comprehensive and secured long-term management plan
                  </li>
                  <li class="h-20 flex items-center gap-2 text-xs">
                    <img src="/svg/CheckCircle.svg" alt="" class="w-4" />
                    Tradeable on the Briix investment platform - a wholly owned
                    and licensed financial exchange
                  </li>
                  <li class="h-20 flex items-center gap-2 text-xs">
                    <img src="/svg/CheckCircle.svg" alt="" class="w-4" />
                    Financing and loan solutions offered via the Briix
                    investment platform
                  </li>
                </ul>
              </div>
            </div>
            <div class="" id="scrollContent2">
              <div class="h-16 w-52">
                <p class="text-base text-primary font-semibold mr-2">
                  Traditonal Fractional Ownership
                </p>
              </div>
              <div class="w-52 border rounded-xl px-4">
                <ul class="">
                  <li class="h-20 flex items-center gap-4 text-xs">
                    Unregulated
                  </li>
                  <li class="h-20 flex items-center gap-4 text-xs">
                    Often lacking 3rd party feasibility studies
                  </li>
                  <li class="h-20 flex items-center gap-4 text-xs">
                    Often lacking critical long-term property management plan
                  </li>
                  <li class="h-20 flex items-center gap-4 text-xs">
                    Often lacking the ability to trade the products on a
                    financial exchange
                  </li>
                  <li class="h-20 flex items-center gap-4 text-xs">
                    Often lacking financing solutions
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-7">
          <div class="bg-blue-bg w-32 h-2 rounded-full relative">
            <div
              class="absolute w-16 h-2 rounded-full bg-secondary top-0"
              id="scrollIndicator"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
