<section id="exited" class="md:mb-[110px] mb-20 mt-20 relative">
  <div class="absolute -bottom-[50%] right-0 -z-50 hidden md:block">
    <img src="/svg/polygon.svg" alt="" srcset="" />
  </div>
  <div class="relative hidden md:block">
    <div class="absolute -top-24 right-0">
      <img src="/svg/Titik-titik.svg" alt="" />
    </div>
  </div>
  <div class="md:px-md-screen px-sm-screen js-show-on-scroll">
    <div
      class="flex md:flex-row flex-col md:space-x-10 space-y-1 items-center justify-center"
    >
      <div class="md:basis-6/12 w-full">
        <h1
          class="font-semibold md:leading-[65px] leading-[33px] text-title block md:hidden text-center md:text-start"
        >
          Join the revolutionary Briix platform today!
        </h1>
        <video playsinline autoplay muted id="propertyvid" loop>
          <source src="/video/Portfolio-07_1.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="md:basis-6/12 md:pr-8">
        <div class="md:mb-[16px] mb-4">
          <h1
            class="font-semibold md:leading-[65px] leading-[33px] text-title md:block hidden text-center md:text-start"
          >
            Join the revolutionary Briix platform today!
          </h1>
        </div>

        <div class="md:mt-12">
          <ul
            class="custom-style md:text-xl text-sm md:leading-[22px] leading-4"
          >
            <li>Account opening from as little as Rp1 Million</li>
            <li>Gain access to the exclusive Briix investment ecosystem</li>
            <li>Licensed and regulated investment platform</li>
            <li>
              Market-leading property, venture capital and social impact
              investing
            </li>
          </ul>
        </div>
        <div class="mt-12">
          <p class="text-center text-base md:text-2xl font-semibold">
            Coming Soon on:
          </p>
          <div class="flex space-x-2 mt-4 justify-center">
            <div class="z-50">
              <img
                class="w-full"
                src="/svg/App Store 英文 黑色.svg"
                alt=""
                srcset=""
              />
            </div>
            <div class="z-50">
              <img
                class="w-full"
                src="/svg/Google Play 英文 黑色.svg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
