<section class="overflow-hidden">
  <div
    class="bg-blue-bg md:py-[139px] py-[104px] px-sm-screen md:px-md-screen relative"
  >
    <div class="bg-header absolute top-4 w-[95%] h-[90%]"></div>
    <h2 class="md:text-3xl text-2xl font-semibold text-primary text-center">
      {{ $.Site.Data.subBanner.en.title }}
    </h2>
    <div class="grid md:grid-cols-4 grid-cols-2 md:gap-10 gap-6 mt-10">
      {{ range $.Site.Data.subBanner.en.content }}
      <div
        class="w-full p-8 bg-white drop-shadow-sm rounded-lg hover:scale-110 md:hover:scale-125 hover:transition-transform"
      >
        <div class="w-full flex flex-col justify-center">
          <img src="/media/{{.icon}}" class="h-14" alt="" />
          <p class="mt-5 text-center">{{.title}}</p>
        </div>
      </div>
     {{ end }}
    </div>
  </div>
</section>
