<section id="impact" class="">
  <div class="relative hidden md:block">
    <div class="absolute -top-36">
      <img src="/svg/41.svg" alt="" srcset="" />
    </div>
    <div class="absolute -top-24 right-0">
      <img src="/svg/Titik-titik.svg" alt="" />
    </div>
  </div>
  <div
    class="js-show-on-scroll relative overflow-hidden md:px-md-screen px-sm-screen md:mt-[170px] mt-20"
  >
    <div
      class="flex md:flex-row items-center flex-col-reverse md:space-x-12 space-y-reverse space-y-5"
    >
      <div class="basis-6/12">
        <h1 class="mb-10 hidden md:block">Social Impact</h1>
        <h5 class="text-base md:text-2xl">
          Empowering personal financial security and greater social impact.
          <br />
          <br />
        </h5>
        <p class="text-sm md:text-base">
          Briix has built, and continuously evolves, a unique investment
          ecosystem that connects investors with investments that simultaneously
          creates wealth and has a positive social impact for the community.
        </p>
      </div>
      <div class="basis-6/12">
        <h1 class="mb-10 block md:hidden text-center">Social Impact</h1>
        <img src="/img/ESG.svg" class="w-full" alt="" />
      </div>
    </div>
  </div>
</section>
