<section id="product">
  <div class="relative hidden md:block -z-30">
    <div class="absolute -top-72">
      <img src="/svg/41.svg" alt="" srcset="" />
    </div>
    <div class="absolute top-32 right-0">
      <img src="/svg/Titik-titik.svg" alt="" />
    </div>
  </div>
  <div
    class="md:px-md-screen px-sm-screen md:mt-[120px] mt-10 md:mb-[110px] mb-20"
  >
    <div class="flex flex-col">
      <div class="md:mb-[30px] mb-5">
       
        <h1 class="text-center"> {{ $.Site.Data.product.en.title }}</h1>
      </div>
      <div
        class="flex flex-row items-center justify-center md:gap-4 gap-2 bg-white md:bg-transparent sticky md:relative top-16 md:top-0 p-2 z-30"
      >
        <div
          class="bg-blue-bg justify-center cursor-pointer py-px md:py-2 flex rounded-lg gap-2 px-[2px] w-24 h-8 md:w-56 md:h-14 items-center border-secondary font-semibold"
          id="propertyBtn"
        >
          <img
            src="/svg/OfficeBuildingOutline.svg"
            alt=""
            class="md:block hidden"
          />
          <p class="text-secondary text-xs md:text-xl">Property</p>
        </div>
        <div
          class="justify-center cursor-pointer py-1 md:py-2 flex rounded-lg border border-secondary gap-2 px-[2px] w-24 h-8 md:w-56 md:h-14 items-center"
          id="vcBtn"
        >
          <img src="/svg/UserGroupOutline.svg" alt="" class="md:block hidden" />
          <p class="text-xs md:text-xl text-secondary">Venture Capital</p>
        </div>
        <div
          class="justify-center cursor-pointer py-1 md:py-2 flex rounded-lg border border-secondary gap-2 px-[2px] w-24 h-8 md:w-56 md:h-14 items-center"
          id="fundsBtn"
        >
          <img src="/svg/la_coins.svg" alt="" class="md:block hidden" />
          <p class="text-xs md:text-xl text-secondary">Mutual Funds</p>
        </div>
      </div>
      <div
        class="flex md:flex-row flex-col md:space-x-10 space-y-4 items-center md:mt-[50px] mt-8"
        id="propertyContent"
      >
        <div class="md:basis-1/2">
          <video playsinline autoplay muted id="propertyvid">
            <source src="/video/Propertysquare.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="md:basis-1/2">
          <h1 class="md:mb-8 mb-6">Property</h1>
          <h5 class="font-semibold">
            Safe and easy property investing starting from as little as Rp1
            million
          </h5>
          <br />
          <p class="text-sm md:text-base">
            Our team of expert property analysts and consultants ensures our
            property investments are developed, managed & maintained to the
            highest standard - reducing risk and maximizing returns.
          </p>
          <div class="flex md:flex-row flex-col md:gap-3">
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img src="/svg/ILLUST SFP-02.svg" class="w-2/3" alt="" />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Briix Financial Services
              </p>
              <p class="text-center text-sm mt-1">
                Guaranteed financing and loans
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img src="/svg/ILLUST SFP-01.svg" class="w-2/3" alt="" />
              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Briix Sekuritas Indonesia
              </p>
              <p class="text-center text-sm mt-1">
                Exclusive and regulated investment products
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img src="/svg/ILLUST SFP-03.svg" class="w-2/3" alt="" />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Briix Property Group
              </p>
              <p class="text-center text-sm mt-1">Expert property management</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:flex-row flex-col md:space-x-10 space-y-4 items-center md:mt-[50px] mt-8"
        id="vcContent"
      >
        <div class="md:basis-1/2">
          <video playsinline autoplay muted id="vcvid">
            <source src="/video/VC square (1).mp4" type="video/mp4" />
          </video>
        </div>
        <div class="md:basis-1/2">
          <h1 class="mb-8">Venture Capital</h1>
          <p class="text-sm md:text-base">
            Gain access to exclusive Venture Capital opportunities and build
            your wealth while being a part of some of the most exciting
            start-ups in the community.
          </p>
          <br />
          <a
            href="#contactus"
            class="text-secondary font-semibold text-base flex gap-1"
            >Start building your VC Portfolio today
            <img src="/svg/arrow-right.svg" alt=""
          /></a>

          <div class="flex md:flex-row flex-col md:gap-3">
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/SIMPLE - VENTURE CAPITAL PRODUCT-10.svg"
                class="w-2/3"
                alt=""
              />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Simple
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/SAFE - VENTURE CAPITAL PRODUCT-11.svg"
                class="w-2/3"
                alt=""
              />
              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Safe
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/REGULATED - VENTURE CAPITAL PRODUCT-12.svg"
                class="w-2/3"
                alt=""
              />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Regulated
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:flex-row flex-col md:space-x-10 space-y-4 items-center md:mt-[50px] mt-8"
        id="fundsContent"
      >
        <div class="md:basis-1/2">
          <video playsinline autoplay muted id="fundsvid">
            <source src="/video/Fund_1square.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="md:basis-1/2">
          <h1 class="mb-8">Mutual Funds</h1>
          <p class="text-sm md:text-base">
            Access the exclusive Briix Mutual Fund portfolio and gain exposure
            to all major asset classes.
          </p>
          <br />

          <div class="flex md:flex-row flex-col md:gap-3">
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/TEAM OF EXPERT - FUNDS PRODUCT-07.svg"
                class="w-2/3"
                alt=""
              />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Expert Fund Management
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/HIGH QUALITY RESEARCH - FUNDS PRODUCT-08.svg"
                class="w-2/3"
                alt=""
              />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                High quality research & analysis
              </p>
            </div>
            <div
              class="items-center flex flex-col mt-12 basis-1/3 hover:scale-110"
            >
              <img
                src="/svg/REGULATED _ SECURE - FUNDS PRODUCT-09.svg"
                class="w-2/3"
                alt=""
              />

              <p
                class="text-center text-secondary mt-3 font-semibold text-base"
              >
                Actively managed portfolios
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
