<section
id="aboutus"
class="p-sm-screen md:px-md-screen md:pt-24 pt-10 overflow-hidden"
>
<div class="flex flex-col justify-center items-center relative">
  <h1 class="text-center">About Us</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-7">
    <div
      class="w-full bg-white hover:scale-105 hover:transition-transform md:drop-shadow-md drop-shadow-sm rounded-md p-6 flex flex-col items-center"
    >
      <img src="src/svg/carrer/ILLUST WORK CULTURE-13.svg" alt="" />
      <h3 class="text-xl font-semibold mt-7 text-center">
        What We Do
      </h3>
      <p class="text-sm mt-4 text-justify">
        We are a company grounded by a strong foundation of financial
        and investment expertise. Upon this foundation we have
        invested significantly in to the technology, human resource,
        regulatory and financial infrastructure required to analyse,
        structure and market investment opportunities that both
        generate and maintain longterm value creation
      </p>
    </div>
    <div
      class="w-full bg-white hover:scale-105 hover:transition-transform md:drop-shadow-md drop-shadow-sm rounded-md p-6 flex flex-col items-center"
    >
      <img src="src/svg/carrer/ILLUST WORK CULTURE-14.svg" alt="" />
      <h3 class="text-xl font-semibold mt-7 text-center">
        How We Do It
      </h3>
      <p class="text-sm mt-4 text-justify">
        We are a licensed neo-investment-bank and deal exclusively in
        regulated investment products. Our users gain access to our
        products via our proprietary and regulated investment
        platform.
      </p>
    </div>
    <div
      class="w-full bg-white hover:scale-105 hover:transition-transform md:drop-shadow-md drop-shadow-sm rounded-md p-6 flex flex-col items-center"
    >
      <img src="src/svg/carrer/ILLUST WORK CULTURE-15.svg" alt="" />
      <h3 class="text-xl font-semibold mt-7 text-center">
        Diverse & Inclusive Work Culture
      </h3>
      <p class="text-sm mt-4 text-justify">
        We have a firm belief that a positive and inclusive team
        incubates high-performance and strong company morale. Our
        employees come from a variety of nationalities, skill-sets and
        cultures and draw strength and inspiration from diversity. We
        are constantly seeking to expand upon this valuable foundation
      </p>
    </div>
  </div>
</div>
</section>