<section id="Benefits" class="mt-24">
    <div class="relative hidden md:block">
      <div class="absolute -top-36">
        <img src="/svg/41.svg" alt="" srcset="" />
      </div>
      <div class="absolute -top-24 right-0">
        <img src="/svg/Titik-titik.svg" alt="" />
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center relative p-sm-screen md:px-md-screen"
    >
      <h1 class="text-center">Benefits</h1>
      <div class="grid grid-cols-1 md:grid-cols-5 gap-5 mt-7 w-full">
        <div
          class="w-full p-4 rounded-md flex flex-col items-center hover:scale-105 hover:transition-transform"
        >
          <img
            class="w-8/12"
            src="/svg/carrer/Group 427321120.svg"
            alt=""
          />

          <p class="text-base text-center">Health & Medical Insurance</p>
        </div>
        <div
          class="w-full p-4 rounded-md flex flex-col items-center hover:scale-105 hover:transition-transform"
        >
          <img
            class="w-8/12"
            src="/svg/carrer/Group 427321120 (1).svg"
            alt=""
          />

          <p class="text-base text-center">Competitive Salary</p>
        </div>
        <div
          class="w-full p-4 rounded-md flex flex-col items-center hover:scale-105 hover:transition-transform"
        >
          <img
            class="w-8/12"
            src="/svg/carrer/Group 427321121.svg"
            alt=""
          />

          <p class="text-base text-center">Employee Stock Option Plan</p>
        </div>
        <div
          class="w-full p-4 rounded-md flex flex-col items-center hover:scale-105 hover:transition-transform"
        >
          <img
            class="w-8/12"
            src="/svg/carrer/Group 427321122.svg"
            alt=""
          />

          <p class="text-base text-center">Hybrid Working</p>
        </div>
        <div
          class="w-full p-4 rounded-md flex flex-col items-center hover:scale-105 hover:transition-transform"
        >
          <img
            class="w-8/12"
            src="/svg/carrer/Group 427321123.svg"
            alt=""
          />

          <p class="text-base text-center">
            Individual Development Program
          </p>
        </div>
      </div>
    </div>
  </section>