<section
  id="company"
  class="p-sm-screen md:px-md-screen md:mt-20 mt-10 relative"
>
  <div class="absolute -top-[50%] right-0 -z-50 hidden md:block">
    <img src="src/svg/polygon.svg" alt="" srcset="" />
  </div>

  <div class="absolute -top-[400px] left-0 -z-50 hidden md:block">
    <img src="src/svg/Titik-titik.svg" alt="" />
  </div>
  <div class="flex flex-col md:flex-row items-center md:space-x-4">
    <div class="basis-5/12">
      <h5 class="text-start z-20 text-title mt-7">
        The Briix Group opened its first hotel in Kuta, Lombok in 2014 under the
        company’s founding name – PT Lombok Bau Nyale.
      </h5>
    </div>
    <div class="basis-7/12">
      <p class="text-start mt-3">
        Since then, we have evolved into a fully integrated neo-investment-bank
        and wealth-tech platform with activities in Corporate Finance, Venture
        Capital, Asset Management, and Property Management and Finance.
        <br /><br />
        As the scale and ambition of our work grows, we never forget the
        importance of working to the highest standards across all aspects of our
        business model. We are driven by an unwavering commitment towards value
        and wealth creation, and a profound belief that everyday investment
        decisions can enable both greater social impact and personal financial
        security.
      </p>
    </div>
  </div>
</section>
