<section
id="header"
class="w-full bg-blue-bg relative md:pt-[155px] pt-[100px] p-sm-screen md:px-md-screen"
>
<div class="absolute left-[20%] -top-20 hidden md:block z-10">
  <img src="src/svg/Group 427320963.svg" alt="" class="z-10" />
</div>
<div class="bg-header absolute top-4 w-[95%] h-[90%]"></div>
<div class="flex flex-col justify-center items-center relative">
  <h1 class="text-center z-20">
    Come for the mission, stay for the team
  </h1>
  <h5 class="text-center z-20 max-w-2xl">
    We are looking for dynamic and self-motivated individuals who are
    comitted to be part of our fast growing team.
  </h5>
  <a
    href="#openposition"
    class="bg-secondary rounded-full md:w-[237px] py-3 px-6 text-white text-center z-20 my-7"
    >See Open Positions</a
  >
  <div class="rounded-md overflow-hidden z-20 relative">
    <img
      src="/img/team-photo 1.png"
      class="w-full z-20 max-w-screen-xl"
      alt=""
    />
  </div>
</div>
</section>