<section class="mt-40 pr-5 md:pr-[100px] p-sm-screen">
    <div
      class="flex flex-col md:flex-row items-center space-y-10 md:space-y-0"
    >
      <div class="basis-7/12">
        <img src="/img/image 5.png" alt="" />
      </div>
      <div class="basis-5/12">
        <div class="md:-ml-32 flex flex-col items-center">
          <div class="relative flex flex-col items-center">
            <div
              class="absolute bg-[#C7E7F4] rounded-md w-56 top-5 h-4 -z-10"
            ></div>
            <h1>LIFE AT BRIIX</h1>
          </div>
          <div class="bg-white p-6 bg-opacity-60">
            <p class="z-10 text-base">
              We have a team of 20 staff (and growing!) that comes from
              many varying backgrounds. We believe in having a fair
              balance between the two: the young-and-energetic and the
              mature-and-experienced. There’s always something new to
              learn and something to get inspired. <br />
              <br />
              Ultimately, we want to create a working environment that
              strongly represent the values of family. We strive to
              instill a bond beyond work as we deeply value the
              relationships created within the company.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>