<section
  id="contactus"
  class="p-sm-screen md:pt-28 py-10 md:px-md-screen bg-[#EAF6FB] relative overflow-hidden"
>
  <div class="bg-header absolute top-4 w-[95%] h-[90%]"></div>
  <div class="absolute bottom-[-55%] left-[-30%]">
    <img src="/svg/briixcontacus1.svg" alt="" />
  </div>
  <div class="absolute top-[-55%] right-[-25%]">
    <img src="/svg/briixcontactus2.svg" alt="" />
  </div>
  <div class="js-show-on-scroll">
    <h1 class="md:text-5xl text-2xl mb-[40px] text-center md:text-start">
      Contact Us
    </h1>
    <div class="js-show-on-scroll">
      <div class="flex md:flex-row flex-col">
        <div class="md:basis-7/12">
          <div class="md:w-[500px]">
            <div class="mb-8">
              <p class="text-black text-base md:text-2xl">Email</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                enquiry@briix.com
              </p>
            </div>
            <div class="my-8">
              <p class="text-black text-base md:text-2xl">Phone Numbers</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                +62 8129-9927-449
              </p>
            </div>

            <div class="my-8">
              <p class="text-black text-base md:text-2xl">Jakarta Office</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                Prosperity Tower 21st Floor, Unit I, District 8, SCBD Lot 28,
                Jl. Jend. Sudirman Kav. 52 – 53,
              </p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                Jakarta 12190
              </p>
            </div>
            <div class="my-8">
              <p class="text-black text-base md:text-2xl">Bali Office</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                Pertokoan Canggu Square Unit 12 Jl. Pantai Berawa Subak Sari
                No.11 Kab. Badung- Kuta Utara
              </p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                Bali – Indonesia 80365
              </p>
            </div>
            <div class="my-8">
              <p class="text-black text-base md:text-2xl">Lombok Office</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                Jl. Mawun No.16, Kuta, Kec. Pujut, Kabupaten Lombok Tengah, Nusa
                Tenggara Bar. 83573
              </p>
            </div>
            <div class="my-8">
              <p class="text-black text-base md:text-2xl">Singapore Office</p>
              <p class="text-[#666666] text-sm md:text-lg md:leading-[36px]">
                9 Raffles Place #06-01 Republic Plaza Singapore (048619)
              </p>
            </div>
          </div>
        </div>
        <div class="md:basis-5/12">
          <div class="w-full">
            <form action="https://airform.io/enquiry@briix.com" method="post">
              <div
                class="flex md:flex-row flex-col md:space-x-4 space-y-5 md:space-y-0"
              >
                <div class="md:basis-1/2">
                  <p class="text-secondary text-lg mb-1">Name</p>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter Name"
                    class="w-full h-14 z-30 px-4 py-2 outline rounded bg-white border-none outline-2 outline-[#C7E7F4]"
                  />
                </div>
                <div class="md:basis-1/2">
                  <p class="text-secondary text-lg mb-1">Phone Number</p>
                  <input
                    type="number"
                    id="number"
                    name="number"
                    placeholder="Enter Phone Number"
                    class="w-full h-14 z-30 px-4 py-2 outline rounded bg-white border-none outline-2 outline-[#C7E7F4]"
                  />
                </div>
              </div>

              <div class="my-6">
                <p class="text-secondary text-lg mb-1">Email</p>
                <input
                  type="text"
                  id="mail"
                  name="mail"
                  placeholder="Enter Email"
                  class="w-full h-14 z-30 px-4 py-2 outline rounded bg-white border-none outline-2 outline-[#C7E7F4]"
                />
              </div>
              <div class="my-6">
                <p class="text-secondary text-lg mb-1">Message</p>
                <textarea
                  cols="20"
                  rows="5"
                  id="comment"
                  name="message"
                  placeholder="Enter Message"
                  class="w-full px-4 z-30 py-2 outline rounded bg-white border-none outline-2 outline-[#C7E7F4]"
                ></textarea>
              </div>
              <div class="my-6 flex md:justify-end md:mb-0 pb-8 px-8 md:px-0">
                <button
                  class="bg-secondary rounded-full md:w-[237px] w-full h-11 text-white"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
