<div
id="whatsapp"
class="fixed bottom-10 right-8 md:bottom-16 md:right-14 z-50 hidden animate-bounce"
>
<a
  href="https://api.whatsapp.com/send?phone=6281299927449"
  target="_blank"
>
  <div
    class="bg-[#128c7e] flex drop-shadow-md rounded-full h-12 aspect-square p-2 items-center space-x-2"
  >
    <img
      src="/img/WhatsApp-Logo.wine.png"
      alt=""
      class="h-full aspect-square"
    />
  </div>
</a>
</div>
<div
id="scrollToTop"
class="fixed bottom-10 right-8 md:bottom-16 md:right-14 z-50 shadow-sm hidden"
>
<a href="#header">
  <img src="/svg/Group 427321116.svg" class="w-14" alt="" />
</a>
</div>